// Font name
$font-name: "Roboto";
$font-serif: "sans-serif";

// Font weights
$font-weight: (
  "medium": 500,
  "bold": 700,  
);

// Colors
$primary: #f35c58fd;
$gray: #8f969a;
$zinc: #1c1c1c;
$silver: #F0F2FA;
$gray-100: #fafaff;
$white: #ffffff;
$zinc-100: #606064;